In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv')

In [4]:
df=df.drop(columns=['Volume_(Currency)','Weighted_Price'])

In [5]:
df=df.rename({'Volume_(BTC)':'Volume'},axis='columns')

In [11]:
df=df.dropna()

In [12]:
df.sort_values(by='Timestamp')

          Timestamp      Open      High       Low     Close     Volume
0        1325317920      4.39      4.39      4.39      4.39   0.455581
478      1325346600      4.39      4.39      4.39      4.39  48.000000
547      1325350740      4.50      4.57      4.50      4.57  37.862297
548      1325350800      4.58      4.58      4.58      4.58   9.000000
1224     1325391360      4.58      4.58      4.58      4.58   1.502000
...             ...       ...       ...       ...       ...        ...
4857372  1617148560  58714.31  58714.31  58686.00  58686.00   1.384487
4857373  1617148620  58683.97  58693.43  58683.97  58685.81   7.294848
4857374  1617148680  58693.43  58723.84  58693.43  58723.84   1.705682
4857375  1617148740  58742.18  58770.38  58742.18  58760.59   0.720415
4857376  1617148800  58767.75  58778.18  58755.97  58778.18   2.712831

[3613769 rows x 6 columns]

In [ ]:
df.to_csv('Bitcoin Dataset by Date.csv')